In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({'A':(1,2,3,4),'B':(5,6,7,8),'C':(9,10,11,12),'D':(13,14,15,16)})

KeyError: "None of [Index(['AB'], dtype='object')] are in the [columns]"

In [20]:
df['E']=''
df

   A  B   C   D E
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16

In [28]:
df['E']=df.loc[:,['B','C']].sum(axis=1)

In [29]:
df

   A  B   C   D   E
0  1  5   9  13  14
1  2  6  10  14  16
2  3  7  11  15  18
3  4  8  12  16  20

In [31]:
df['F']=''
df

   A  B   C   D   E F
0  1  5   9  13  14
1  2  6  10  14  16
2  3  7  11  15  18
3  4  8  12  16  20

In [34]:
df['F']=df.loc[:,['B','D']].sum(axis=1)

In [35]:
df

   A  B   C   D   E   F
0  1  5   9  13  14  18
1  2  6  10  14  16  20
2  3  7  11  15  18  22
3  4  8  12  16  20  24

In [36]:
df['G']=''

In [56]:
df['G'] = ", VA"

In [57]:
df['H']=df.loc[:,['D','E']].sum(axis=1)

In [62]:
i=0
while i<len(df.index):
    df.iloc[i,7]=str(df.iloc[i,5])+df.iloc[i,6]
    i+=1
df

   A  B   C   D   E   F     G       H
0  1  5   9  13  14  18  , VA  18, VA
1  2  6  10  14  16  20  , VA  20, VA
2  3  7  11  15  18  22  , VA  22, VA
3  4  8  12  16  20  24  , VA  24, VA